# Auto detect text files and perform LF normalization
* text=auto

# vscode settings
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspaaace

# Local History for Visual Studio Code
.history/